body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;

}

h1 {
    margin: 20px auto 10px auto;
    font-family: 'Sacramento', cursive;
    font-size: 4.2rem;
    color: #b088f9;
    line-height: 2;
}

h2 {
    margin: 5px auto 5px auto;
    font-family: 'Montserrat', sans-serif;
    color: #b088f9;
    font-size: 2rem;
    line-height: 2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 5px auto 5px;
    font-size: 1.4rem;
}

hr{
    border: 0;
    border-top: 12px dotted #79a3b1;
    width: 10%;
}

a{
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 15px;
}

a:hover{
    color: #ff2e63;
}
/* Class selector */
.top-container {
    background-color: #98acf880;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 70px auto 50px auto;
}

.bottom-container {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #95e1d380;
    line-height: 3;
    height: auto;
}
.mountain{
    margin: 0;
    padding: 0;
    position: relative;
    top: 4px;
}
.top-cloud {
    position: absolute;
    top: 40px;
    left: 58%;
}

.bottom-cloud {
    position: absolute;
    left: 35%;
}
.profile {
    margin: 20px auto 50px;
    line-height: 2;
    width: 50%;

}
.skills{
    margin-top: 30px;
}
.first-skill{
    margin-right: 30px;
    width: 25%;
    float: left;
}
.second-skill{
    margin-left: 10px;
    width: 25%;
    float: right;
}
.skill-row{
    width: 50%;
    margin: 70px auto 150px auto;
    text-align: left;
    line-height: 2;

}
.contact-message{
    width: 40%;
    margin: 0 auto 30px auto;
}
.contact-me{
    margin-top: 60px;
    line-height: 3;
}

.btn {
   background: #65A9F5;
   background-image: -webkit-linear-gradient(top, #65A9F5, #30E3CA);
   background-image: -moz-linear-gradient(top, #65A9F5, #30E3CA);
   background-image: -ms-linear-gradient(top, #65A9F5, #30E3CA);
   background-image: -o-linear-gradient(top, #65A9F5, #30E3CA);
   background-image: -webkit-gradient(to bottom, #65A9F5, #30E3CA);
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 32px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
.btn:hover {
   background: #FCE38A;
   color: #FFFFFF;
   background-image: -webkit-linear-gradient(top, #FCE38A, #70F565);
   background-image: -moz-linear-gradient(top, #FCE38A, #70F565);
   background-image: -ms-linear-gradient(top, #FCE38A, #70F565);
   background-image: -o-linear-gradient(top, #FCE38A, #70F565);
   background-image: -webkit-gradient(to bottom, #FCE38A, #70F565);
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   text-decoration: none;
}
.copyright{
    margin: 40px auto 0;
    font-size: .8rem;
}
